---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/copy_batch/check_v2
    body:
      encoding: UTF-8
      string: '{"async_job_id":"dbjid:AADOVgzSRvtiBJ9dZaE8VUp07JT-zO7k9TrjEfwnzTfGGDuEi1pTRB2vFufnQfX9Yf-N_tzVl52rGEK4GYI8zzsU"}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Request-Id:
      - eb5e6977da1f4f4ce25934ae64ffd8b4
      X-Server-Response-Time:
      - '265'
    body:
      encoding: ASCII-8BIT
      string: '{".tag": "complete", "entries": [{".tag": "success", "success": {".tag":
        "folder", "name": "folder 2", "path_lower": "/folder 2", "path_display": "/folder
        2", "id": "id:KbufibY6KzAAAAAAAAAG4w"}}, {".tag": "success", "success": {".tag":
        "file", "name": "photo1.png", "path_lower": "/folder 3/photo1.png", "path_display":
        "/folder 3/photo1.png", "id": "id:KbufibY6KzAAAAAAAAAG5Q", "client_modified":
        "2018-12-14T06:05:55Z", "server_modified": "2019-02-19T17:10:21Z", "rev":
        "da0f5dd5870", "size": 168527, "content_hash": "2c83baa3619a93dbbc29d6a37f2f55c6db3b054b7b32c94e0fff605098eed85e"}},
        {".tag": "failure", "failure": {".tag": "relocation_error", "relocation_error":
        {".tag": "from_lookup", "from_lookup": {".tag": "not_found"}}}}]}'
  recorded_at: Tue, 19 Feb 2019 17:11:34 GMT
recorded_with: VCR 4.0.0
