---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/create_folder_batch
    body:
      encoding: UTF-8
      string: '{"autorename":true,"force_async":false,"paths":["/Create Batch 1","/Create
        Batch 1"]}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Request-Id:
      - 82a2f145eaf495f6d9da1334f661a18f
      X-Server-Response-Time:
      - '557'
    body:
      encoding: ASCII-8BIT
      string: '{".tag": "complete", "entries": [{".tag": "success", "metadata": {"name":
        "Create Batch 1 (1)", "path_lower": "/create batch 1 (1)", "path_display":
        "/Create Batch 1 (1)", "id": "id:qUDX-awBufAAAAAAAAACEA"}}, {".tag": "success",
        "metadata": {"name": "Create Batch 1 (1)", "path_lower": "/create batch 1
        (1)", "path_display": "/Create Batch 1 (1)", "id": "id:qUDX-awBufAAAAAAAAACEA"}}]}'
  recorded_at: Wed, 20 Feb 2019 11:09:55 GMT
recorded_with: VCR 4.0.0
