---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/create_folder_batch
    body:
      encoding: UTF-8
      string: '{"autorename":false,"force_async":false,"paths":["/folder_for_sharing"]}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Request-Id:
      - 96fe350aebad875c0a6957624fe6e5ce
      X-Server-Response-Time:
      - '206'
    body:
      encoding: ASCII-8BIT
      string: '{".tag": "complete", "entries": [{".tag": "failure", "failure": {".tag":
        "path", "path": {".tag": "conflict", "conflict": {".tag": "folder"}}}}]}'
  recorded_at: Wed, 20 Feb 2019 11:22:04 GMT
recorded_with: VCR 4.0.0
