---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/create_folder_batch
    body:
      encoding: UTF-8
      string: '{"force_async":true,"autorename":false,"paths":["/Create Batch 2","/Create
        Batch 3"]}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Request-Id:
      - 2e48ec2361bc3b115b1ddc54b9d04555
      X-Server-Response-Time:
      - '138'
    body:
      encoding: ASCII-8BIT
      string: '{".tag": "async_job_id", "async_job_id": "dbjid:AABA41j_vLlnqL8MxnWNu8QOnvemrZMF2jKo3qRjAHHgSaI9dWnvJH7a1SjOt_suRjgZn8gjXGey1V0xoB83YEyG"}'
  recorded_at: Wed, 20 Feb 2019 11:09:53 GMT
recorded_with: VCR 4.0.0
