---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/sharing/list_shared_links
    body:
      encoding: UTF-8
      string: '{"path":"/dropbox_api_fixtures/get_shared_link_metadata/shared_folder"}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Request-Id:
      - cd521a5fbdd26d1ae184433b3887126b
      X-Server-Response-Time:
      - '283'
    body:
      encoding: ASCII-8BIT
      string: '{"links": [{".tag": "folder", "url": "https://www.dropbox.com/sh/iql1lm3w8xqtvle/AACxOvSUS2GbYd9JA-RPPvQsa?dl=0",
        "id": "id:iWFsGCmi1sAAAAAAAAABKg", "name": "shared_folder", "path_lower":
        "/dropbox_api_fixtures/get_shared_link_metadata/shared_folder", "link_permissions":
        {"resolved_visibility": {".tag": "public"}, "requested_visibility": {".tag":
        "public"}, "can_revoke": true, "visibility_policies": [{"policy": {".tag":
        "public"}, "resolved_policy": {".tag": "public"}, "allowed": true}, {"policy":
        {".tag": "team_only"}, "resolved_policy": {".tag": "team_only"}, "allowed":
        false, "disallowed_reason": {".tag": "user_not_on_team"}}, {"policy": {".tag":
        "password"}, "resolved_policy": {".tag": "password"}, "allowed": false, "disallowed_reason":
        {".tag": "user_account_type"}}], "can_set_expiry": false, "can_remove_expiry":
        true, "allow_download": true, "can_allow_download": true, "can_disallow_download":
        false, "allow_comments": true, "team_restricts_comments": false}}], "has_more":
        false}'
  recorded_at: Mon, 12 Nov 2018 19:04:00 GMT
- request:
    method: post
    uri: https://api.dropboxapi.com/2/sharing/get_shared_link_metadata
    body:
      encoding: UTF-8
      string: '{"url":"https://www.dropbox.com/sh/iql1lm3w8xqtvle/AACxOvSUS2GbYd9JA-RPPvQsa?dl=0"}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Request-Id:
     [...]
