---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/delete
    body:
      encoding: UTF-8
      string: '{"parent_rev":"1c0576c68d6","path":"/dropbox_api_fixtures/delete/wont_be_deleted.txt"}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Request-Id:
      - 9a097dc3be1d9c281566e75887850a96
      Content-Disposition:
      - attachment; filename='error'
    body:
      encoding: UTF-8
      string: '{"error_summary": "path_write/conflict/file/...", "error": {".tag":
        "path_write", "path_write": {".tag": "conflict", "conflict": {".tag": "file"}}}}'
  recorded_at: Sat, 14 Jul 2018 09:37:35 GMT
recorded_with: VCR 3.0.3
