---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/delete
    body:
      encoding: UTF-8
      string: '{"path":"/unexisting folder"}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Request-Id:
      - 4ad132ec768b2293cb37eba3f80101a4
      Content-Disposition:
      - attachment; filename='error'
    body:
      encoding: UTF-8
      string: '{"error_summary": "path_lookup/not_found/.", "error": {".tag": "path_lookup",
        "path_lookup": {".tag": "not_found"}}}'
  recorded_at: Sat, 14 Jul 2018 09:12:29 GMT
recorded_with: VCR 3.0.3
