---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/delete
    body:
      encoding: UTF-8
      string: '{"path":"/dropbox_api_fixtures/delete/will_be_deleted.txt"}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Request-Id:
      - ed7d516f51b234e14c9e4abc5c5db290
      X-Server-Response-Time:
      - '363'
    body:
      encoding: ASCII-8BIT
      string: '{".tag": "file", "name": "will_be_deleted.txt", "path_lower": "/dropbox_api_fixtures/delete/will_be_deleted.txt",
        "path_display": "/dropbox_api_fixtures/delete/will_be_deleted.txt", "id":
        "id:iWFsGCmi1sAAAAAAAAABCQ", "client_modified": "2018-07-14T09:12:19Z", "server_modified":
        "2018-07-14T09:12:19Z", "rev": "1c0576c68d6", "size": 15, "content_hash":
        "a3d41e5e40805aa5a0dd47c40a31780cbeb08928969e0b1464ec6f1b78fa4f68"}'
  recorded_at: Sat, 14 Jul 2018 09:12:27 GMT
recorded_with: VCR 3.0.3
