---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/delete
    body:
      encoding: UTF-8
      string: '{"path":"/dropbox_api_fixtures/delete/folder"}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Request-Id:
      - c940163522795f34b445c02930cf7660
      X-Server-Response-Time:
      - '415'
    body:
      encoding: ASCII-8BIT
      string: '{".tag": "folder", "name": "folder", "path_lower": "/dropbox_api_fixtures/delete/folder",
        "path_display": "/dropbox_api_fixtures/delete/folder", "id": "id:iWFsGCmi1sAAAAAAAAABCg"}'
  recorded_at: Sat, 14 Jul 2018 09:12:28 GMT
recorded_with: VCR 3.0.3
