---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/delete_batch/check
    body:
      encoding: UTF-8
      string: '{"async_job_id":"dbjid:AAC2JUPMEtK-kEg7QVrNEemnX-FfQkJ_0r_tJJ2UpHhwvrUGrpw19CH4U5cfZKWPLxLVJoKgffTOy_zSKk6W953h"}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Request-Id:
      - 172061bc4259a9cc13d399e2643b56c3
      X-Server-Response-Time:
      - '112'
    body:
      encoding: ASCII-8BIT
      string: '{".tag": "complete", "entries": [{".tag": "success", "metadata": {".tag":
        "folder", "name": "folder_to_delete_1", "path_lower": "/folder_to_delete_1",
        "path_display": "/folder_to_delete_1", "id": "id:qUDX-awBufAAAAAAAAACKQ"}},
        {".tag": "failure", "failure": {".tag": "path_write", "path_write": {".tag":
        "conflict", "conflict": {".tag": "file"}}}}, {".tag": "success", "metadata":
        {".tag": "file", "name": "file_to_delete.docx", "path_lower": "/folder_to_delete_2/file_to_delete.docx",
        "path_display": "/folder_to_delete_2/file_to_delete.docx", "id": "id:qUDX-awBufAAAAAAAAABQg",
        "client_modified": "2019-01-23T09:58:58Z", "server_modified": "2019-02-25T06:45:45Z",
        "rev": "015be00000001170cc5b0", "size": 953856, "content_hash": "3cc1d3b40eeca21e4d920ade59005caa83287fa1d2f171e23c6e5c3829d403ea"}},
        {".tag": "failure", "failure": {".tag": "path_lookup", "path_lookup": {".tag":
        "not_found"}}}]}'
  recorded_at: Mon, 25 Feb 2019 06:56:24 GMT
recorded_with: VCR 4.0.0
