---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/copy_batch_v2
    body:
      encoding: UTF-8
      string: '{"autorename":true,"entries":[{"from_path":"/folder 2/photo1.png","to_path":"/folder
        3/photo1.png"}]}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Request-Id:
      - 8721185708595da346ee21afd1fcac6b
      X-Server-Response-Time:
      - '139'
    body:
      encoding: ASCII-8BIT
      string: '{".tag": "async_job_id", "async_job_id": "dbjid:AACFpNAiWBhdsxpppngzE8Ob3IJhYpFVJxzzBZmdLFwGwG2urEnxwfLrSDh2m1fYTxRYc6PllgijNUnxKuQZl920"}'
  recorded_at: Tue, 19 Feb 2019 13:29:32 GMT
recorded_with: VCR 4.0.0
