---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/copy_batch_v2
    body:
      encoding: UTF-8
      string: '{"autorename":true,"entries":[{"from_path":"/dropbox_api_fixtures/copy_batch/regular_file_2.txt","to_path":"/dropbox_api_fixtures/copy_batch/regular_file_2_renamed.txt"}]}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Request-Id:
      - 64a8de7b5a71f7d905a2f1abfdd3ec28
      X-Server-Response-Time:
      - '111'
    body:
      encoding: ASCII-8BIT
      string: '{".tag": "async_job_id", "async_job_id": "dbjid:AABe-bOUUq5nrybciMJxIxaGAD16nGCKByGyY3Z_2m6kshGW903XTikVT3_5V6JQQu20p3QxoCfws7_hT40deF6q"}'
  recorded_at: Sat, 23 Mar 2019 08:45:30 GMT
recorded_with: VCR 4.0.0
