---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/copy_batch_v2
    body:
      encoding: UTF-8
      string: '{"autorename":false,"entries":[{"from_path":"/folder 1/photo1.png","to_path":"/folder
        2/photo1.png"}]}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Request-Id:
      - 52274cc9a7db2b6c031b8d9340b71f5d
      X-Server-Response-Time:
      - '146'
    body:
      encoding: ASCII-8BIT
      string: '{".tag": "async_job_id", "async_job_id": "dbjid:AABG1I-LPa5wH5dIqNL2_IY_LxQHTfdv_btYeCoTdOhGt-cUERJCj1xJkYWoxpX-jZau6_eCR2IjVJu3uhhLr9tr"}'
  recorded_at: Tue, 19 Feb 2019 13:22:04 GMT
recorded_with: VCR 4.0.0
