---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/copy_batch_v2
    body:
      encoding: UTF-8
      string: '{"autorename":false,"entries":[{"from_path":"/dropbox_api_fixtures/copy_batch/regular_file.txt","to_path":"/dropbox_api_fixtures/copy_batch/regular_file_renamed.txt"}]}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Request-Id:
      - 8e64d593d5c7deec558c58676f199912
      X-Server-Response-Time:
      - '103'
    body:
      encoding: ASCII-8BIT
      string: '{".tag": "async_job_id", "async_job_id": "dbjid:AAA6b4uwc19nEau5k-OBI_h-hjrR7pNDaUA3_0hOwV-UZ2pkw_zXWp3FSuVZrQ0d9IXKGkwB5JdYI4mJZumLc6qZ"}'
  recorded_at: Sat, 23 Mar 2019 08:45:29 GMT
recorded_with: VCR 4.0.0
