---
http_interactions:
- request:
    method: post
    uri: https://content.dropboxapi.com/2/files/upload_session/start
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Dropbox-Api-Arg:
      - "{}"
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server-Response-Time:
      - '305'
      X-Dropbox-Request-Id:
      - 3d94c9b1a684dde29cc0ce93da303f85
    body:
      encoding: ASCII-8BIT
      string: '{"session_id": "AAAAAAAAAvUVNeWqT7Qydg"}'
  recorded_at: Tue, 13 Nov 2018 01:32:24 GMT
- request:
    method: post
    uri: https://content.dropboxapi.com/2/files/upload_session/finish
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Dropbox-Api-Arg:
      - '{"cursor":{"session_id":"AAAAAAAAAvUVNeWqT7Qydg","offset":0},"commit":{"path":"/dropbox_api_fixtures/chunked_uploader/new_file.txt"}}'
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server-Response-Time:
      - '531'
      X-Dropbox-Request-Id:
      - f98186e70c19724ad0da02b8b83c8d19
    body:
      encoding: ASCII-8BIT
      string: '{"name": "new_file.txt", "path_lower": "/dropbox_api_fixtures/chunked_uploader/new_file.txt",
        "path_display": "/dropbox_api_fixtures/chunked_uploader/new_file.txt", "id":
        "id:px0KNy0NvQsAAAAAAAABHw", "client_modified": "2018-11-13T01:29:17Z", "server_modified":
        "2018-11-13T01:29:17Z", "rev": "14ae517a440", "size": 0, "content_hash": "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"}'
  recorded_at: Tue, 13 Nov 2018 01:32:25 GMT
recorded_with: VCR 4.0.0
