---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/search_v2
    body:
      encoding: UTF-8
      string: '{"query":"/image.png","options":{"path":"/bad_folder"},"match_field_options":{}}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment
      Content-Type:
      - application/json
      X-Content-Security-Policy:
      - sandbox
      X-Dropbox-Request-Id:
      - aa6dbb0b8be548acb195a8ade327dfaa
      X-Webkit-Csp:
      - sandbox
    body:
      encoding: UTF-8
      string: '{"has_more":false,"matches":[]}'
  recorded_at: Wed, 02 Dec 2020 22:20:54 GMT
recorded_with: VCR 6.0.0
