---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/search_v2
    body:
      encoding: UTF-8
      string: '{"query":"image.png","options":{},"match_field_options":{}}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment
      Content-Type:
      - application/json
      X-Content-Security-Policy:
      - sandbox
      X-Dropbox-Request-Id:
      - acb181d0b1864ce4b5456aef4f18342d
      X-Webkit-Csp:
      - sandbox
    body:
      encoding: ASCII-8BIT
      string: '{"has_more":false,"matches":[{"match_type":{".tag":"filename"},"metadata":{".tag":"metadata","metadata":{".tag":"file","client_modified":"2020-12-02T20:17:29Z","content_hash":"6744ecc70a37aefcf36635ad9725a93060e9484631ca611a6c5fe1e9a8e6632a","has_explicit_shared_members":false,"id":"id:S6Vye9D8e8AAAAAAAAAACw","is_downloadable":true,"name":"image.png","path_display":"/image.png","path_lower":"/image.png","rev":"5b580eec277b140f37171","server_modified":"2020-12-02T20:17:29Z","size":3975}}}]}'
  recorded_at: Wed, 02 Dec 2020 22:20:53 GMT
recorded_with: VCR 6.0.0
