---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/sharing/create_shared_link_with_settings
    body:
      encoding: UTF-8
      string: '{"path":"/folder_for_sharing","settings":{"expires":"2019-03-12T10:34:42Z","requested_visibility":"public","link_password":null}}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Request-Id:
      - ff6ad02c9ff3c557ca05e616d6f3a12b
      Content-Disposition:
      - attachment; filename='error'
    body:
      encoding: UTF-8
      string: '{"error_summary": "settings_error/not_authorized/.", "error": {".tag":
        "settings_error", "settings_error": {".tag": "not_authorized"}}}'
  recorded_at: Tue, 12 Feb 2019 11:51:13 GMT
recorded_with: VCR 4.0.0
