---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/sharing/create_shared_link_with_settings
    body:
      encoding: UTF-8
      string: '{"path":"/file_for_sharing.docx","settings":{"expires":"2019-03-12T10:34:42Z","requested_visibility":"public","link_password":null}}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Request-Id:
      - 021de8ae323b1354d188c7a8359cb9ce
      X-Server-Response-Time:
      - '1683'
    body:
      encoding: ASCII-8BIT
      string: '{".tag": "file", "url": "https://www.dropbox.com/s/7vufrt9p729k40u/file_for_sharing.docx?dl=0",
        "id": "id:qUDX-awBufAAAAAAAAABlA", "name": "file_for_sharing.docx", "expires":
        "2019-03-12T10:34:42Z", "path_lower": "/file_for_sharing.docx", "link_permissions":
        {"resolved_visibility": {".tag": "public"}, "requested_visibility": {".tag":
        "public"}, "can_revoke": true, "visibility_policies": [{"policy": {".tag":
        "public"}, "resolved_policy": {".tag": "public"}, "allowed": true}, {"policy":
        {".tag": "team_only"}, "resolved_policy": {".tag": "team_only"}, "allowed":
        true}, {"policy": {".tag": "password"}, "resolved_policy": {".tag": "password"},
        "allowed": true}], "can_set_expiry": true, "can_remove_expiry": true, "allow_download":
        true, "can_allow_download": true, "can_disallow_download": true, "allow_comments":
        true, "team_restricts_comments": false}, "team_member_info": {"team_info":
        {"id": "dbtid:AACGv7SkOZM3V6juRBWlfTd8Midh_Jh7uQQ", "name": "Arizona"},
        "display_name": "Arizona Baby", "member_id": "dbmid:AAAcZJAdCZC-ryrZs1MMCXgi0ZKuhizTFPI"},
        "preview_type": "doc", "client_modified": "2019-02-12T10:25:59Z", "server_modified":
        "2019-02-12T10:25:59Z", "rev": "0132c00000001170cc5b0", "size": 1311881}'
  recorded_at: Tue, 12 Feb 2019 10:35:16 GMT
recorded_with: VCR 4.0.0
