---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/sharing/create_shared_link_with_settings
    body:
      encoding: UTF-8
      string: '{"path":"/folder_for_sharing","settings":{"expires":"2019-03-12T10:34:42Z","requested_visibility":"public","link_password":null}}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Request-Id:
      - d40fffe4cfb7cc6dd33bc7e9dae041d9
      X-Server-Response-Time:
      - '1131'
    body:
      encoding: ASCII-8BIT
      string: '{".tag": "folder", "url": "https://www.dropbox.com/sh/t0ebpiojwy4l1bn/AAAcU6qf20b8R-SG5_PJCBOQa?dl=0",
        "id": "id:qUDX-awBufAAAAAAAAABmA", "name": "folder_for_sharing", "expires":
        "2019-03-12T10:34:42Z", "path_lower": "/folder_for_sharing", "link_permissions":
        {"resolved_visibility": {".tag": "public"}, "requested_visibility": {".tag":
        "public"}, "can_revoke": true, "visibility_policies": [{"policy": {".tag":
        "public"}, "resolved_policy": {".tag": "public"}, "allowed": true}, {"policy":
        {".tag": "team_only"}, "resolved_policy": {".tag": "team_only"}, "allowed":
        true}, {"policy": {".tag": "password"}, "resolved_policy": {".tag": "password"},
        "allowed": true}], "can_set_expiry": true, "can_remove_expiry": true, "allow_download":
        true, "can_allow_download": true, "can_disallow_download": true, "allow_comments":
        true, "team_restricts_comments": false}, "team_member_info": {"team_info":
        {"id": "dbtid:AACGv7SkOZM3V6juRBWlfTd8Midh_Jh7uQQ", "name": "Arizona"},
        "display_name": "Arizona Baby", "member_id": "dbmid:AAAcZJAdCZC-ryrZs1MMCXgi0ZKuhizTFPI"}}'
  recorded_at: Tue, 12 Feb 2019 11:07:17 GMT
recorded_with: VCR 4.0.0
