---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/sharing/create_shared_link_with_settings
    body:
      encoding: UTF-8
      string: '{"path":"/file_for_sharing.docx","settings":{"requested_visibility":"public","link_password":null,"expires":null}}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Dropbox-Request-Id:
      - 26168181dbe897f65a71f81f3c16fb5f
      Content-Disposition:
      - attachment; filename='error'
    body:
      encoding: UTF-8
      string: 'Error in call to API function "sharing/create_shared_link_with_settings":
        The given OAuth 2 access token is malformed.'
  recorded_at: Tue, 12 Feb 2019 11:56:30 GMT
recorded_with: VCR 4.0.0
