---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/delete_batch
    body:
      encoding: UTF-8
      string: '{"entries":[{"path":"/folder_to_delete/file_to_delete.docx","parent_rev":"1c0576c68d6"}]}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Request-Id:
      - fde758d8370217d9b65801b51dddc53e
      X-Server-Response-Time:
      - '137'
    body:
      encoding: ASCII-8BIT
      string: '{".tag": "async_job_id", "async_job_id": "dbjid:AACU2Fwt4Qb_0a7-7n6DWe9_rDoBrpeYpfSmK8tXdTvnblqktUpxVnsEUy3cUXqiYji_lbzYwrmgmJcs0AV4Foul"}'
  recorded_at: Fri, 22 Feb 2019 11:38:23 GMT
recorded_with: VCR 4.0.0
