---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/create_folder_batch/check
    body:
      encoding: UTF-8
      string: '{"async_job_id":"dbjid:AAA8ixe2PLtuFEtS216inFdIa5J8PM5f8c9IcRimbLVqQ-0-bzq0yFEv1yu4UeCSUyZqQn80SjL5cbY-Ow9RBNQE"}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Request-Id:
      - 9fc6424573fa6957512ba5a735beacf2
      X-Server-Response-Time:
      - '126'
    body:
      encoding: ASCII-8BIT
      string: '{".tag": "complete", "entries": [{".tag": "failure", "failure": {".tag":
        "path", "path": {".tag": "conflict", "conflict": {".tag": "folder"}}}}, {".tag":
        "failure", "failure": {".tag": "path", "path": {".tag": "conflict", "conflict":
        {".tag": "folder"}}}}, {".tag": "failure", "failure": {".tag": "path", "path":
        {".tag": "conflict", "conflict": {".tag": "folder"}}}}, {".tag": "failure",
        "failure": {".tag": "path", "path": {".tag": "conflict", "conflict": {".tag":
        "folder"}}}}, {".tag": "failure", "failure": {".tag": "path", "path": {".tag":
        "conflict", "conflict": {".tag": "folder"}}}}, {".tag": "failure", "failure":
        {".tag": "path", "path": {".tag": "conflict", "conflict": {".tag": "folder"}}}},
        {".tag": "failure", "failure": {".tag": "path", "path": {".tag": "conflict",
        "conflict": {".tag": "folder"}}}}, {".tag": "failure", "failure": {".tag":
        "path", "path": {".tag": "conflict", "conflict": {".tag": "folder"}}}}, {".tag":
        "failure", "failure": {".tag": "path", "path": {".tag": "conflict", "conflict":
        {".tag": "folder"}}}}, {".tag": "failure", "failure": {".tag": "path", "path":
        {".tag": "conflict", "conflict": {".tag": "folder"}}}}, {".tag": "failure",
        "failure": {".tag": "path", "path": {".tag": "malformed_path"}}}, {".tag":
        "failure", "failure": {".tag": "path", "path": {".tag": "malformed_path"}}},
        {".tag": "failure", "failure": {".tag": "path", "path": {".tag": "malformed_path"}}},
        {".tag": "success", "metadata": {"name": "folder", "path_lower": "/folder
        0/folder", "path_display": "/Folder 0/folder", "id": "id:KbufibY6KzAAAAAAAAAI7w"}},
        {".tag": "success", "metadata": {"name": "folder", "path_lower": "/folder
        1/folder", "path_display": "/Folder 1/folder", "id": "id:KbufibY6KzAAAAAAAAAI8A"}}]}'
  recorded_at: Wed, 20 Feb 2019 16:08:20 GMT
recorded_with: VCR 4.0.0
