---
http_interactions:
- request:
    method: post
    uri: https://content.dropboxapi.com/2/files/upload
    body:
      encoding: UTF-8
      string: Hello Dropbox!
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Dropbox-Api-Arg:
      - '{"path":"/dropbox_api_fixtures/upload/file_12.txt"}'
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server-Response-Time:
      - '661'
      X-Dropbox-Request-Id:
      - d3d35a851235f5c5d4684627a9313177
    body:
      encoding: ASCII-8BIT
      string: '{"name": "file_12.txt", "path_lower": "/dropbox_api_fixtures/upload/file_12.txt",
        "path_display": "/dropbox_api_fixtures/upload/file_12.txt", "id": "id:iWFsGCmi1sAAAAAAAAABjw",
        "client_modified": "2019-05-31T21:25:31Z", "server_modified": "2019-05-31T21:25:31Z",
        "rev": "258576c68d6", "size": 14, "is_downloadable": true, "content_hash":
        "16dff8700700b9aa627e24bbf832940c084b41ade5c5d6fe5417963a547ed9c2"}'
  recorded_at: Fri, 31 May 2019 21:25:31 GMT
[...]
- request:
    method: post
    uri: https://content.dropboxapi.com/2/files/upload
    body:
      encoding: UTF-8
      string: Hello Dropbox!
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Dropbox-Api-Arg:
      - '{"path":"/dropbox_api_fixtures/upload/file_4.txt"}'
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 429
      message: too_many_write_operations/
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - '1'
      X-Dropbox-Request-Id:
      - 6e82bf1f0e8e666bf4ca50c7db21ed09
    body:
      encoding: UTF-8
      string: '{"error_summary": "too_many_write_operations/", "error": {"reason":
        {".tag": "too_many_write_operations"}}}'
  recorded_at: Fri, 31 May 2019 21:25:32 GMT
[...]
- request:
    method: post
    uri: https://content.dropboxapi.com/2/files/upload
    body:
      encoding: UTF-8
      string: Hello Dropbox!
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Dropbox-Api-Arg:
      - '{"path":"/dropbox_api_fixtures/upload/file_11.txt"}'
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server-Response-Time:
      - '1625'
      X-Dropbox-Request-Id:
      - 762fd3a8aaef59402f8c737b3faffcaf
    body:
      encoding: ASCII-8BIT
      string: '{"name": "file_11.txt", "path_lower": "/dropbox_api_fixtures/upload/file_11.txt",
        "path_display": "/dropbox_api_fixtures/upload/file_11.txt", "id": "id:iWFsGCmi1sAAAAAAAAABdA",
        "client_modified": "2019-05-31T20:58:31Z", "server_modified": "2019-05-31T20:58:31Z",
        "rev": "23d576c68d6", "size": 14, "is_downloadable": true, "content_hash":
        "16dff8700700b9aa627e24bbf832940c084b41ade5c5d6fe5417963a547ed9c2"}'
  recorded_at: Fri, 31 May 2019 21:25:32 GMT
recorded_with: VCR 4.0.0
